<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nanbar-header" routerLinkActive="active">
      <a routerLink="/default-list" class="navbar-brand" id="logo">VOD</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/default-list">All Vod Data</a></li>
        <li routerLinkActive="active">
          <a routerLink="/id-list">Vod By ID</a></li>
        <li routerLinkActive="active">
          <a routerLink="/idmovie-list">Vod By ID & movie</a></li>          
      </ul>
    </div>
  </div>
</nav>