<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSetItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="id">ID</label>
          <select type="text" id="name" class="form-control"
          name="id" ngModel required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
          [disabled]="!f.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">
      <a class="list-group-item"
       *ngIf="IdListService.vod; else helpText">
      type = {{IdListService.vod.type}}, age range = {{IdListService.vod.ageRange}} 
      </a>
      <ng-template #helpText>
        <h4>Submit id</h4>
      </ng-template>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-item-detail
      *ngIf="IdListService.vod; else help"
      [vod]="IdListService.vod">
      </app-item-detail>
      <ng-template #help>
      </ng-template>    
  </div>
</div>

